extends layout
extends layout
block content
    .row.banner
        .col-12
            h1= title
    .row
        .col-12.col-lg-8
            p 
                TFI-24 was created to help people find right palces ot showcase their talent and get discovered by casting directors and filmmakers.
                <br /><br />
                Whether you're an aspiring actor, musician, or artist, TFI-24 connects you with opportunities to shine in the entertainment industry.