extends layout

block content
  .container
    .row.justify-content-center
      .col-md-6
        .content-wrapper
          h1.text-center.mb-4 Login
          
          //- Login Form
          form(action="/login", method="POST")
            .form-group
              label(for="email") Email address
              input.form-control(type="email", id="email", name="email", placeholder="Enter email", required)
            .form-group
              label(for="password") Password
              input.form-control(type="password", id="password", name="password", placeholder="Password", required)
            
            button.btn.btn-primary.btn-block(type="submit") Login
          
          hr.my-4
          
          //- Link to Sign Up Page
          .text-center
            p.mb-0 Don't have an account? 
              a(href="/register") Sign up here
